@import "tailwindcss";

:root {
  --color-petroleo: #003841;
  --color-brasa: #e05829;
  --color-bruma: #dce3ec;
  --color-bruma-light: #eef5ff;
}

@theme inline {
  --font-sans: var(--font-rubik);

  --color-petroleo: var(--color-petroleo);
  --color-brasa: var(--color-brasa);
  --color-bruma: var(--color-bruma);
  --color-bruma-light: var(--color-bruma-light);
}

body {
  background: var(--color-bruma-light);
  color: var(--color-petroleo);
  font-family: var(--font-sans), sans-serif;
  font-weight: 400;
}

.dot-brasa::after {
  content: ".";
  color: var(--color-brasa);
}

::selection {
  background: var(--color-brasa);
  color: var(--color-bruma-light);
}
